<!DOCTYPE html>
<html>
<head>
  <title>Forest</title>
  <%= stylesheet_link_tag    "forest/application", media: "all" %>
  <%= javascript_include_tag "forest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
