<!DOCTYPE html>
<html>
<head>
  <title>ForestRails</title>
  <%= stylesheet_link_tag    "forest_rails/application", media: "all" %>
  <%= javascript_include_tag "forest_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
